body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
div.container {
    max-width: 1000px;
    margin: 30px auto;
}



div.locations,
.amenities{
text-align: left;
text-indent: 30px;
height: 100%;
width: 25%;
border-right: #DDDDDD 1px;
flex:1;
}
.amenities {
    border-left: #DDDDDD solid 1px;
}
h3 {
    margin: 0%;
    font-weight: 600;   
}

h4 {
    margin: 0%;
    font-weight: 400;
    font-size: 14px;
}
